<div class="alert alert-danger" *ngIf="active == false">{{ error }}</div>
<div *ngIf="active">
  <h2 class="page-header">Edit Product - {{ product.name }}</h2>
  <form #productForm="ngForm" (ngSubmit)="onSubmit()">
    <div id="form">
      <div>
        <label for="form_name" class="required">Name</label>
        <input type="text" id="form_name" name="name" required class="form-control"
               [(ngModel)]="product.name" #name="ngModel">

        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
          <div [hidden]="!name.errors.required">
            Name is required
          </div>
        </div>
      </div>
      <div>
        <label for="form_description" class="required">Description</label>
          <textarea id="form_description" name="description" required class="form-control" maxlength="540"
                    [(ngModel)]="product.description" #description="ngModel"></textarea>
        <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
          <div [hidden]="!description.errors.required">
            Description is required
          </div>
          <div [hidden]="!description.errors.maxlength">
            Description cannot be more than 540 characters long.
          </div>
        </div>
      </div>
      <div>
        <label for="form_price" class="required">Price</label>
        <input type="number" name="price" id="form_price" required class="form-control"
               [(ngModel)]="product.price" #price="ngModel">
        <div *ngIf="price.errors && (price.dirty || price.touched)" class="alert alert-danger">
          <div [hidden]="!price.errors.required">
            Price is required
          </div>
        </div>
      </div>
      <div>
        <label for="currency">Currency</label>
        <select id="currency" class="form-control"
                name="currency"
                [(ngModel)]="product.currency" required
                #currency="ngModel">
          <option *ngFor="let c of currencies" [value]="c">{{c}}</option>
        </select>
        <div *ngIf="currency.errors && (currency.dirty || currency.touched)" class="alert alert-danger">
          <div [hidden]="!currency.errors.required">
            Currency is required
          </div>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Update</button>
      </div>
    </div>
  </form>
</div>